@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sacramento&display=swap');

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #868e96;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:hover {
  text-decoration: none;
}

h1.heading, h2, h3, h4, h5{
  color: #000;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

header .navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.6em;
  font-weight: 500;
  font-family: "Poppins";
  color: #bc5148 !important;
}

header .navbar-brand span {
  color: #bc5148 !important;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  background: #fff !important;
}

@media (max-width: 1400px) {
  header .navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #fff !important;
  }
}

header .navbar .nav-link {
  padding: 1.7rem 1rem;
  outline: none !important;
}

@media (max-width: 1400px) {
  header .navbar .nav-link {
    padding: 0.5rem 0rem;
  }
}

header .navbar .nav-link.active {
  color: #bc5148 !important;
}

header .navbar .dropdown-menu {
  font-size: 14px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
}

header .navbar .dropdown-menu::before {
  bottom: 100px;
  left: 10%;
  border: solid transparent !important;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
}

header .navbar .dropdown-menu .dropdown-item.active:hover {
  background: #bc5148;
  color: #fff;
}

header .navbar .dropdown-menu .dropdown-item.active {
  background: #bc5148;
  color: #fff;
}

.section {
  padding: 7em 0;
}

.cursive {
  font-family: "Sacramento", cursive;
}

/* acordeon - Video 2 */
.btn.btn-primary {
  color: #fff;
  border-width: 2px;
  background-color: #bc5148;
  border-color: #bc5148;
  padding: 10px;
  margin-top: 10px;
}

.accordion-item {
  font-size: 15px;
  border: 1px solid #dee2e6;
}

.accordion-item h2 button {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #bc5148;
  position: relative;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2)!important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2)!important;
  border-radius: 0px !important;
}

.accordion-item h2 button .fa-chevron-down { 
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.accordion-item h2 button:hover { 
  text-decoration: none;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0,0.2)!important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0,0.2)!important;
}

.accordion-item h2 button.collapsed {
  color: #000;
}

.accordion-item h2 button.collapsed .fa-chevron-down {
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accordion-item h2 button.collapsed:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0,0.2)!important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0,0.2)!important;
}

.accordion-item .accordion-body {
  padding-top: 20px;
}

.accordion-button:not(.collapsed) {
  color: #bc5148;
  background: #fff;
  border: none;
}

.accordion-button:focus {
  border-color: #fff;
}

/* video 3 */
.heading{
  color: #000;
}


.media-custom {
  background: #fff;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  margin-bottom: 30px;
  position: relative;
  top: 0;
}

.media-custom > a {
  display: block;
  position: relative;
  overflow: hidden;
}

.media-custom img {
  height: 400px;
  object-fit: cover;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.media-custom:focus, .media-custom:hover {
  top: -2px;
  -webkit-box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
}

.media-custom:focus img, .media-custom:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.media-custom .media-body {
  padding: 30px;
}

.media-custom .media-body h3 {
  font-size: 20px;
}

.text-black {
  color: #000;
}

.age {
  font-size: 14px;
  color: #868e96;
}

.media-custom .media-body p:last-child {
  margin-bottom: 0;
}
/* START BOOTSTRAP CAROUSEL */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}
/* END BOOTSTRAP CAROUSEL */
/* video 4 */
.border-t {
  border-top: 1px solid #f8f8fa;
}
.custom-image {
  width: 100%;
  height: 330px;
  object-fit: cover;
}
.link-thumbnail {
  display:block;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
}
.link-thumbnail img {
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.link-thumbnail .date {
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.link-thumbnail .fa {
  position: absolute;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  top: 50%;
  font-size: 28px;
  color: #fff;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  margin-top: 30px;
  z-index: 4;
}
.link-thumbnail h3 {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  left: 0;
  color: #fff;
  font-size: 16px;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
  z-index: 10;
  left: 50%;
  display: block;
  width: 77%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.link-thumbnail:before{
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 2;
}
.link-thumbnail:hover h3 {
  opacity: 1;
  visibility: visible;
  bottom: 30px;
}
.link-thumbnail:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.link-thumbnail:hover .fa{
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}
.link-thumbnail:hover:before {
  opacity: 1;
  visibility: visible;
}

/* video 5 */
.section-subscribe {
  padding: 5em 0;
}
.form-control {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 50px;
}
.form-control:focus{
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}
.form-cotrol:focus, .form-control:active {
  outline: none;
}
.btn {
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}
.btn.btn-secondary {
  color: #fff;
  border-width: 2px;
  background: #bc5148;
  border-color: #bc5148;
  padding: 10px;
}
.site-footer {
  padding: 5em 0;
  background-color: #bc5148;
  font-size: 14px;
  color: rgb(243, 236, 236);
}
.site-footer p:last-child {
  margin-bottom: 0;
}
.site-footer a {
  color: #ffc107;
  border-bottom: 1px solid transparent;
}
.site-footer a:hover {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.site-footer h2 {
  font-size: 22px;
  margin-bottom: 28px;
  letter-spacing: .05em;
  color: #fff;
}
.site-footer .footer-link li {
  line-height: 1.5;
  margin-bottom: 15px;
}
.footer-social a {
  line-height: 0;
  border-radius: 50%;
  margin: 0 5px 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
}
.footer-social a:hover {
  background: #fff;
  background-color: #fff;
  color: #000;
}
.footer-social .fa {
 margin-top: 7px; 
}

/* Second carousel */
/* Import Google font - Poppins */
.wrapper-carousel {
  /* max-width: 1100px; */
  width: 100%;
  position: relative;
}
.wrapper-carousel i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper-carousel i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper-carousel i:first-child{
  left: -22px;
}
.wrapper-carousel i:last-child{
  right: -22px;
}
.wrapper-carousel .carousel-secondary{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3));
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel-secondary::-webkit-scrollbar {
  display: none;
}
.carousel-secondary.no-transition {
  scroll-behavior: auto;
}
.carousel-secondary.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel-secondary.dragging .card-secondary {
  cursor: grab;
  user-select: none;
}
.carousel-secondary :where(.card-secondary, .card-img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-secondary .card-secondary {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel-secondary .card-secondary .card-img {
  background: #bc5148;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card-secondary .card-img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel-secondary .card-secondary h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel-secondary .card-secondary span {
  color: #6A6D78;
  font-size: 1.31rem;
}

.full-width-container {
  max-width: 100% !important;
  padding: 0 !important;
  margin-bottom: 2rem !important;
}

.accordion-img {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 990px) {
  .wrapper-carousel .carousel-secondary {
    grid-auto-columns: calc((100% / 2));
  }
}

@media screen and (max-width: 600px) {
  .wrapper-carousel .carousel-secondary {
    grid-auto-columns: 110%;
  }
}

.carousel-primary {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel-primary .card-primary {
  scroll-snap-align: start;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.carousel-primary .card-primary .c-img {
  height: 32rem;
  object-fit: cover;
  width: 100%;
}

#secondCarousel .wrapper-carousel {
  max-width: 1100px;
  width: 100%;
  position: relative;
}